<section class="mx-5 bg-primary-new radius-30">
                <div class="flat-img-with-text">
                    <div class="content-left img-animation wow">
                        <img class="lazyload" data-src="assets/images/banner/img-w-text1.jpg" src="assets/images/banner/img-w-text1.jpg" alt="">
                    </div>
                    <div class="content-right">
                        <div class="box-title wow fadeInUp">
                            <div class="text-subtitle text-primary">Our Benifit</div>
                            <h3 class="title mt-4">Why Choose HomeLengo</h3>
                            <p class="desc text-variant-1">Our seasoned team excels in real estate with years of successful market <br> navigation, offering informed decisions and optimal results.</p>
                        </div>
                        <div class="flat-service wow fadeInUp" data-wow-delay=".2s">
                            <a href="#" class="box-benefit hover-btn-view">
                                <div class="icon-box">
                                    <span class="icon icon-proven"></span>
                                </div>
                                <div class="content">
                                    <h5 class="title">Proven Expertise</h5>
                                    <p class="description">Our seasoned team excels in real estate with years of successful market navigation, offering informed decisions and optimal results.</p>
                                </div>
                            </a>
                            <a href="#" class="box-benefit hover-btn-view">
                                <div class="icon-box">
                                    <span class="icon icon-customize"></span>
                                </div>
                                <div class="content">
                                    <h5 class="title">Customized Solutions</h5>
                                    <p class="description">We pride ourselves on crafting personalized strategies to match your unique goals, ensuring a seamless real estate journey.</p>
                                </div>
                            </a>
                            <a href="#" class="box-benefit hover-btn-view">
                                <div class="icon-box">
                                    <span class="icon icon-partnership"></span>
                                </div>
                                <div class="content">
                                    <h5 class="title">Transparent Partnerships</h5>
                                    <p class="description">Transparency is key in our client relationships. We prioritize clear communication and ethical practices, fostering trust and reliability throughout.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div> 
            </section>