
.homelengo-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.archive-bottom {
  margin-top: auto; /* pousse le footer en bas */
}

.card-img {
  width: 100%;
  height: 220px; /* fixe une hauteur identique */
  object-fit: cover; /* garde le ratio */
  border-radius: 6px;
}
