<section class="flat-section bg-primary-new flat-testimonial">
                <div class="box-title px-15 wow fadeInUp">
                    <div class="text-center wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration="2000ms">
                        <div class="text-subtitle text-primary">Our Testimonials</div>
                        <h3 class="title mt-4">What’s people say’s</h3>
                        <p class="desc text-variant-1">Our seasoned team excels in real estate with years of successful market navigation, offering informed decisions and optimal results.</p>
                    </div>
                </div>        
                <div dir="ltr" class="swiper tf-sw-testimonial wow fadeInUp" data-wow-delay=".2s" data-preview="4.5" data-tablet="2" data-mobile-sm="1" data-mobile="1" data-space="15" data-space-md="30" data-space-lg="30" data-centered="true" data-loop="true">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="box-tes-item">
                                <span class="icon icon-quote"></span>
                                <p class="note body-2">
                                    "My experience with property management services has exceeded expectations. They efficiently manage properties with a professional and attentive approach in every situation. I feel reassured that any issue will be resolved promptly and effectively."
                                </p>
                                <div class="box-avt d-flex align-items-center gap-12">
                                    <div class="avatar avt-60 round">
                                        <img src="assets/images/avatar/avt-png1.png" alt="avatar">
                                    </div>
                                    <div class="info">
                                        <h6>Courtney Henry</h6>
                                        <p class="caption-2 text-variant-1 mt-4">CEO Jassa</p>
                                        <ul class="list-star">
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box-tes-item">
                                <span class="icon icon-quote"></span>
                                <p class="note body-2">
                                    "My experience with property management services has exceeded expectations. They efficiently manage properties with a professional and attentive approach in every situation. I feel reassured that any issue will be resolved promptly and effectively."
                                </p>
                                <div class="box-avt d-flex align-items-center gap-12">
                                    <div class="avatar avt-60 round">
                                        <img src="assets/images/avatar/avt-png2.png" alt="avatar">
                                    </div>
                                    <div class="info">
                                        <h6>Esther Howard</h6>
                                        <p class="caption-2 text-variant-1 mt-4">CEO Jassa</p>
                                        <ul class="list-star">
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box-tes-item">
                                <span class="icon icon-quote"></span>
                                <p class="note body-2">
                                    "My experience with property management services has exceeded expectations. They efficiently manage properties with a professional and attentive approach in every situation. I feel reassured that any issue will be resolved promptly and effectively."
                                </p>
                                <div class="box-avt d-flex align-items-center gap-12">
                                    <div class="avatar avt-60 round">
                                        <img src="assets/images/avatar/avt-png4.png" alt="avatar">
                                    </div>
                                    <div class="info">
                                        <h6>Annette Black</h6>
                                        <p class="caption-2 text-variant-1 mt-4">CEO Jassa</p>
                                        <ul class="list-star">
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box-tes-item">
                                <span class="icon icon-quote"></span>
                                <p class="note body-2">
                                    "My experience with property management services has exceeded expectations. They efficiently manage properties with a professional and attentive approach in every situation. I feel reassured that any issue will be resolved promptly and effectively."
                                </p>
                                <div class="box-avt d-flex align-items-center gap-12">
                                    <div class="avatar avt-60 round">
                                        <img src="assets/images/avatar/avt-png6.png" alt="avatar">
                                    </div>
                                    <div class="info">
                                        <h6>Bessie Cooper</h6>
                                        <p class="caption-2 text-variant-1 mt-4">CEO Jassa</p>
                                        <ul class="list-star">
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box-tes-item">
                                <span class="icon icon-quote"></span>
                                <p class="note body-2">
                                    "My experience with property management services has exceeded expectations. They efficiently manage properties with a professional and attentive approach in every situation. I feel reassured that any issue will be resolved promptly and effectively."
                                </p>
                                <div class="box-avt d-flex align-items-center gap-12">
                                    <div class="avatar avt-60 round">
                                        <img src="assets/images/avatar/avt-png3.png" alt="avatar">
                                    </div>
                                    <div class="info">
                                        <h6>Courtney Henry</h6>
                                        <p class="caption-2 text-variant-1 mt-4">CEO Jassa</p>
                                        <ul class="list-star">
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box-tes-item">
                                <span class="icon icon-quote"></span>
                                <p class="note body-2">
                                    "My experience with property management services has exceeded expectations. They efficiently manage properties with a professional and attentive approach in every situation. I feel reassured that any issue will be resolved promptly and effectively."
                                </p>
                                <div class="box-avt d-flex align-items-center gap-12">
                                    <div class="avatar avt-60 round">
                                        <img src="assets/images/avatar/avt-png5.png" alt="avatar">
                                    </div>
                                    <div class="info">
                                        <h6>Courtney Henry</h6>
                                        <p class="caption-2 text-variant-1 mt-4">CEO Jassa</p>
                                        <ul class="list-star">
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                            <li class="icon icon-star"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sw-pagination sw-pagination-testimonial text-center"></div>
                </div>     
            </section>