 <section class="flat-section flat-recommended">
                <div class="container">
                    <div class="box-title text-center wow fadeInUp">
                        <div class="text-subtitle text-primary">Featured Properties</div>
                        <h3 class="mt-4 title">Recommended For You</h3>
                    </div>
                    <div class="flat-tab-recommended flat-animate-tab wow fadeInUp" data-wow-delay=".2s">
                        <ul class="nav-tab-recommended justify-content-md-center" role="tablist">
                            <ul class="nav-tab-recommended justify-content-md-center" role="tablist">
                                <li class="nav-tab-item" role="presentation">   
                                    <button class="nav-link-item  active"  data-bs-toggle="tab" (click)="filterByType()">View All</button>
                                </li>
                                <li class="nav-tab-item" role="presentation">
                                    <button class="nav-link-item"  data-bs-toggle="tab" (click)="filterByType('APPARTEMENT')">Apartment</button>
                                </li>
                                <li class="nav-tab-item" role="presentation">
                                    <button class="nav-link-item" data-bs-toggle="tab" (click)="filterByType('MAISON')">House</button>
                                </li>
                                <li class="nav-tab-item" role="presentation">
                                    <button class="nav-link-item" data-bs-toggle="tab" (click)="filterByType('TERRAIN')">Land</button>
                                </li>
                             </ul>

                      
                        </ul>
                        <div class="tab-content">
                           <div class="tab-pane active show" id="viewAll" role="tabpanel">

                                   <div class="row">
                                    <div class="col-xl-4 col-md-6 mb-4" *ngFor="let annonce of paginatedProperties">

                                        <div class="homelengo-box h-100 d-flex flex-column">
                                        <div class="archive-top">
                                            <a [routerLink]="['/detail-property', annonce.id]" class="images-group">
                                            <div class="images-style">
                                                <img 
                                                class="lazyload card-img"
                                                [src]="getFirstImage(annonce)" 
                                                alt="image-annonce">
                                            </div>
                                            <div class="top">
                                                <ul class="d-flex gap-6">
                                                <li class="flag-tag primary"> {{ getTypeBienLabel(annonce.typeBien) }}</li>
                                                <li class="flag-tag style-1">{{annonce.statut}}</li>
                                                </ul>
                                            </div>
                                            <div class="bottom">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                            <path d="M10 7C10 7.53043 9.78929 8.03914 9.41421 8.41421C9.03914 8.78929 8.53043 9 8 9C7.46957 9 6.96086 8.78929 6.58579 8.41421C6.21071 8.03914 6 7.53043 6 7C6 6.46957 6.21071 5.96086 6.58579 5.58579C6.96086 5.21071 7.46957 5 8 5C8.53043 5 9.03914 5.21071 9.41421 5.58579C9.78929 5.96086 10 6.46957 10 7Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                                                            <path d="M13 7C13 11.7613 8 14.5 8 14.5C8 14.5 3 11.7613 3 7C3 5.67392 3.52678 4.40215 4.46447 3.46447C5.40215 2.52678 6.67392 2 8 2C9.32608 2 10.5979 2.52678 11.5355 3.46447C12.4732 4.40215 13 5.67392 13 7Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                                                        </svg>
                                                {{ annonce.adresse }}
                                            </div>
                                            </a>
                                        </div>

                                        <div class="archive-bottom mt-auto">
                                            <div class="content-top">
                                            <h6 class="text-capitalize">
                                                <a [routerLink]="['/property', annonce.id]" class="link">
                                                {{ annonce.titre }}
                                                </a>
                                            </h6>

                                            <ul class="meta-list">
                                                <li class="item">
                                                <i class="icon icon-bed"></i>
                                                <span class="text-variant-1">Pieces:</span>
                                                <span class="fw-6">{{ annonce.nbPieces }}</span>
                                                </li>
                                                <li class="item">
                                                <i class="icon icon-bath"></i>
                                                <span class="text-variant-1">Baths:</span>
                                                <span class="fw-6">{{ annonce.bathrooms || 0 }}</span>
                                                </li>
                                                <li class="item">
                                                <i class="icon icon-sqft"></i>
                                                <span class="text-variant-1">Surface:</span>
                                                <span class="fw-6">{{ annonce.surface }} m²</span>
                                                </li>
                                            </ul>
                                            </div>

                                            <div class="content-bottom d-flex justify-content-between align-items-center mt-2">
                                            <div class="d-flex gap-8 align-items-center">
                                                <div class="avatar avt-40 round">
                                                <img *ngIf="annonce.agencePhoto" [src]="annonce.agencePhoto" alt="agence"> </div>
                                                <span>{{ annonce.agence.nom }}</span>
                                            </div>
                                            <h6 class="price">{{ annonce.prix | currency:'TND':'symbol':'1.0-0' }}</h6>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                               
                            </div>
                           
                    </div>
   
    <!-- Pagination -->
    <app-pagination
      [totalItems]="annonces.length"
      [itemsPerPage]="itemsPerPage"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)">
    </app-pagination>
                </div>

            </section>